@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glassBG {
        background: rgba( 255, 255, 255, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 7px );
        -webkit-backdrop-filter: blur( 7px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    };
}